*{
     -webkit-tap-highlight-color: transparent; /* removes blue/gray tap effect */
}
body{
    background-color: rgb(252, 202, 0);
    display: flex;
    justify-content: center;
    user-select: none;
    
}
.entry{
    border: 0px black solid;
    max-width: 425px;
    min-width: 320px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.formholder{
    border-radius: 20px;
    width: 95%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.eheader{
    display: flex;
    height: 80px;
    margin: 20px;
    background-color: rgb(252, 202, 0);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.eheader>h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: white;
}
.amountbox{
    display: flex;
    height: 80px;
    margin: 20px;
    margin-bottom: 40px;
    background-color: rgb(252, 202, 0);
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
.amountbox>input{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: rgb(252, 202, 0);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.owebox{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
}
.oweboxtext{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    position: relative;
    top: -65px;
}
.oweboxtext>h2{
    font-size: 18px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    user-select: none;
    margin: 0;
}
.owebox>input{
    appearance: none; /* Remove default */
    width: 35%;
    height: 90%;
    border-radius: 40px; 
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 20px;
    
}
#inpt41{
    background-color: rgb(255, 0, 0);
    margin-right: 20px;
     position: relative;
     box-shadow: none;
}
#inpt41:checked{
    border: 4px solid rgb(252, 202, 0);
    box-shadow: none;
    box-shadow: 0 5px 12px 4px hsla(0, 0%, 0%, 0.604);
}
#inpt42{
    background-color: rgb(16, 122, 0);
    margin-left: 20px;
     position: relative;
     box-shadow: none;
}
#inpt42:checked{
    border: 4px solid rgb(252, 202, 0);
    box-shadow: 0 5px 12px 4px hsla(0, 0%, 0%, 0.604);
}
.description{
    display: flex;
    height: 200px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.description>textarea{
    width: 80%;
    resize: none;
    height: 80%;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(252, 202, 0);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 600;
    
}
.addbtn{
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 72px;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 64px;
  box-shadow: 0 0.7em 1.5em -0.5em hsla(270, 100%, 23%, 0.697);
  transition: transform 0.3s;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(
    120deg,
    rgb(200, 0, 255) 0%,
    rgb(32, 0, 194) 100%
  );
}
.addbtn__text{
    font-size: 20px;
}
.addbtn:active {
    background: linear-gradient(
    190deg,
    rgb(200, 0, 255) 0%,
    rgb(32, 0, 194) 100%
  );
  transform: scale(0.98);
  box-shadow: 0 0.5em 1.5em -0.5em hsla(270, 100%, 41%, 0.468);
}
